.banner {
    background-image: url(../../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.banner::before {
    content: '';
    background-color: rgba(0,0,0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.banner_content{
    display: flex;
flex-direction: column;
gap: var(--spacing-20);
align-items: start;
z-index: 2;
position: relative;
}

.banner_title{
    font-family: var(--alternative-font);
font-size: var(--font-jumbo);
color: var(--light-font-solid);
}

.banner_text{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.banner_link{
    display: inline-block;
font-size: var(--font-medium);
background-color: var(--light-bg-solid);
padding: var(--spacing-12) var(--spacing-68);
border-radius: 50px;
font-weight: 500;
transition: all .3s ease-in-out;
}

.collection{
    display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
padding: var(--spacing-16) 0;
}

.collection_content{
    display: flex;
flex-direction: column;
gap: var(--spacing-24);
align-items: start;
}

.collection_title{
    font-family: var(--alternative-font);
font-size: var(--font-display);
font-weight: 500;
}

.collection_text{
    font-family: var(--alternative-font);
font-size: var(--font-large);
font-weight: 300;
border-bottom: 2px solid var(--primary-solid);
padding-bottom: var(--spacing-20);
}

.collection_link{
    display: inline-block;
font-size: var(--font-medium);
background-color: var(--dark-bg-solid);
color: var(--light-font-solid);
padding: var(--spacing-16) var(--spacing-36);
border-radius: 50px;
font-weight: 500;
transition: background .3s ease-in-out;
}

.order-reverse{
    order: -1;
}

.new-releases{
    display: flex;
flex-direction: column;
gap: var(--spacing-36);
margin: var(--spacing-68) auto;
}

.new-releases_title{
    font-family: var(--alternative-font);
font-size: var(--font-display);
text-transform: uppercase;
}

.new-releases_list{
    display: flex;
}
